<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VerifyTests">
    <test name="test1">
        <parameter name="user" value="{$user}"/>
        <parameter name="password" value="{$password}"/>
        <classes>
            <class name="FileDataproviderTests"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->